

//sidtodo do we need overflow-x? or parameterise?
.CarouselContainer {
  position: relative;

  overflow-x: auto;
  scrollbar-width: none;
  //overflow-x: hidden;
  white-space: nowrap;

  overflow-y: hidden;

  display: inline-block;

  scroll-snap-type: x mandatory;

  box-sizing: border-box;

  cursor: move;

  width: 100%;
  height: 100%;
}

.CarouselFileContainer {
  display: inline-block;

  //padding-left: 0px;
  //padding-right: 0px;
  //margin: 10px;



  scroll-snap-align: start;

  width: 100%;
  min-width: 100%;

  height: 100%;
  min-height: 100%;

  box-sizing: border-box;
}

.CarouselFile {
  display: inline-block;

  aspect-ratio: 1/1;

  min-width: 100%;
  width: 100%;

  min-height: 100%;
  height: 100%;

  box-sizing: border-box;
}

//// Chevrons
.CarouselLeftChevron:active,.CarouselRightChevron:active {
  opacity: 50%; //sidtodo improve
}

.CarouselLeftChevron,.CarouselRightChevron {
  width: 40px;
  position: absolute;
  z-index: 5;

  top: calc(50% - (40px / 2));
}

.CarouselLeftChevron {
  left: 30px;
}

.CarouselRightChevron {
  right: 30px;
}