
$HalfOrange: rgb(231,121,48,0.5);

///////// BMS
.BMSFileContainer {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.BMSFile,.BMSFileLoading {
  border-radius: 5px;

  border: white solid 1.5px;
  box-shadow: 0 0 0 1px black;
}

.BMSFileLeftChevron,.BMSFileRightChevron {
  width: 100px;
  position: absolute;
  z-index: 5;

  top: calc(50% - (100px / 2));

  cursor: pointer;
}

.BMSFileLeftChevron {
  left: 30px;
}

.BMSFileRightChevron {
  right: 30px;
  transform: rotate(-180deg);
}

.BMSFileLeftChevron:active,.BMSFileRightChevron:active {
  opacity: 25%;
}

////////// Portfolio

.PortfolioLeftChevron,.PortfolioRightChevron {
  width: 50px;
  position: absolute;
  z-index: 5;

  top: calc(50% - (50px / 2));

  cursor: pointer;
}

.PortfolioLeftChevron {
  left: 20px;
}

.PortfolioRightChevron {
  right: 20px;
  transform: rotate(-180deg);
}

.PortfolioLeftChevron:active,.PortfolioRightChevron:active {
  opacity: 25%;
}

.PortfolioFileGridFile {

  width: 100px;
  height: 100px;

  border-radius: 5px;

  border: white solid 1.5px;
  box-shadow: 0 0 0 1px black;
  margin: 10px;

  cursor: pointer;

  object-fit: contain;
}

.PortfolioFileGridSelectedFile {
  @extend .PortfolioFileGridFile;

  box-shadow: 0 0 0 4px black;
  cursor: default;
}

.FileLevelClass {
  background-color: red;
}