
.FileGridContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.FileGridFile {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, 1), 0 0 0 4px #fff;
}

//sidtodo remove
/*
.FileGridRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.FileGridImage {

}*/